*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfbf9;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    background-color: #7ed6df;
    box-shadow: 15px 15px 10px rgba(52,152,189,0.3);
    overflow: hidden;
    position: relative;
}
.container form{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.container form .form-control{
    width: 200px;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    color: #fff;
}
.container form .form-control::placeholder{
    color: #fff;
    font-size: 15px;
}
.container form .btn{
    width: 200px;
    height: 40px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 20px;
    letter-spacing: 5px;
    color: #fff;
    background: none;
    cursor: pointer;
}
.container h1{
    z-index: 1;
    color: #ecf0f1;
    letter-spacing: 5px;
    padding-left: 5px;
    font-size: 50px;
    font-weight: 100;
    text-shadow: 5px 5px 5px rgba(33,45,58,0.3);
}
.container .in{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #3498bd;
    transform: translate(-50%,-50%);
    animation: in 0.5s ease-in-out forwards;
}
.container .out{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: #3498bd;
    transform: translate(-50%,-50%);
    animation: out 0.5s ease-in-out forwards;
}
@keyframes in {
    /*初始关键帧*/
    0%{
        width: 0;
        height: 0;
    }
    /*结尾关键帧*/
    100%{
        width: 1200px;
        height: 1200px;
    }
}
@keyframes out {
    /*初始关键帧*/
    0%{
        width: 1200px;
        height: 1200px;
    }
    /*结尾关键帧*/
    100%{
        width: 0;
        height: 0;
    }
}